# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
RoboKuma/Temp/UnityTempFile-fd99af8e22228b4419e5dbf2891871dd
RoboKuma/Library/assetDatabase3
RoboKuma/Library/AssetServerCacheV3
*.dwlt
RoboKuma/Library/expandedItems
*.asset
RoboKuma/Library/LastSceneManagerSetup.txt
RoboKuma/Library/metadata/
RoboKuma/Temp
RoboKuma/Library/UnityAssemblies
RoboKuma/Library/ShaderCache
*.csproj